div {
    display: flex;
    background-color: black;
    color: white;
    border: 5px solid violet;
    width: 30vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-left: 450px;
    cursor: pointer;
}